body {
    font-family: "Open Sans", sans-serif;
}

@media (max-width: 425px) {

    .header {
        text-align: center;
        background-color: rgb(78, 146, 209);
    }
    .header .minha-foto {
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-top: 20px;
        border: 5px solid rgb(48, 48, 175);
        border-radius: 50%;
    }

    .header h1 {
        font-size: 20px;
        color: white;
    }

    .seta {
        height: 24px;
        width: 24px;
        padding: 3%;
    }

    .gerais {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
    }

    .gerais img {
        height: 24px;
        width: 24px;
    }

    .contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
    }

    .endereco {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
    }

    .senha {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
    }

    .informacoes {
        display: flex;
        margin-inline: 50px;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }

    .btn {
        text-decoration: none;
        color: black;
        transform: 0.3s;
    }
    
    .btn:hover {
        background-color: rgb(201, 201, 18);
        opacity: 0.5;
    }

}